@import "_mixins.scss";

// FONTS
@include font-face('ProximaNova Reg', 'proximanova-reg-webfont');
@include font-face('ProximaNova Semibol', 'proxima_nova_semibold-webfont');
@include font-face('ProximaNova Bold', 'proximanova-bold-webfont');

$f-pn-reg: 'ProximaNova Reg';
$f-pn-semib: 'ProximaNova Semibol';
$f-pn-bold: 'ProximaNova Bold';

// Retina sprite
@import 'sprites.scss';

@import "base/_index.scss";
@import "UI/_index.scss";

// Magnific Popup - https://github.com/dimsemenov/Magnific-Popup
@import "_mp-settings.scss";
@import "_mp-main.scss";

body {
  // background-color: #ddd;
  font: 1em $f-pn-semib, Tahoma, Arial, sans-serif;
}

//////////////////////////////////////////
//                                      //
//            MAIN SETTING              //
//                                      //
//////////////////////////////////////////

.container {
  max-width: 1000px;
  margin: 2em auto;
}

.row:after {
  display: table;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}

.grid, .m-grid {
  float: left;
}

[class*="m-box"] {
  &:last-child {
    margin-right: 0;
  }
}

@include grid(100%, 4%, true, 12);
@include grid(100%, 4%, false, 12);

.disable-hover {
  pointer-events: none;
}

.placeholder {
  line-height: 1.2;
}

//////////////////////////////////////////
//                                      //
//                 FOO                  //
//                                      //
//////////////////////////////////////////

body, html {
  width: 100%;
  height: 100%;
}

.wrap-svg {
  z-index: 0;
  position: relative;
  width: 100%; height: 100%;
  overflow: hidden;
}

.logo {
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
}

.field {
  width: 100%; height: 100%;
}


.rerere {
  color: #fff;
  @include mq(false, min-s, $single: true) {
    background-color: magenta;
  }
  @include mq(min-s, max-s, $single: false) {
    background-color: yellow;
  }
  @include mq(min-m, false, $single: true) {
    background-color: green;
  }
}

// .elem {
//   position: absolute;
//   left: 2%; top: 2%;
//   width: 40px; height: 40px;
//   background-color: #fff;
//   border-radius: 50%;
// }




