$select-color: #0EA0E0;

::selection { color: #fff; background: $select-color; }
::-moz-selection { color: #fff; background: $select-color; }
::-webkit-selection { color: #fff; background: $select-color; }

// line-height reset
h1, h2, h3, h4, h5, h6, p, ul, li { line-height: 1.7; }